<article class="card">
  <!-- Topo -->
  <header class="card__topo">
    <div class="titulos">
      <h3 class="nome" [title]="paciente.nome">{{ paciente.nome }}</h3>
      <small class="sub">Leito {{ paciente.leito }}</small>
      <small class="sub">Prontuário {{ paciente.prontuario }}</small>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Mais ações" class="kebab">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="verRegistros($event)">
  <mat-icon>list_alt</mat-icon><span>Ver registros</span>
</button>
      <button mat-menu-item (click)="editar.emit(paciente)">
        <mat-icon>edit</mat-icon><span>Editar</span>
      </button>
      <button mat-menu-item (click)="remover.emit(paciente)">
        <mat-icon>delete</mat-icon><span>Remover</span>
      </button>
    </mat-menu>
  </header>

  <!-- Corpo -->
  <div class="linhas">
    <div class="linha">
      <span [class]="pontoSituacao"></span>
      <span class="label">{{ textoSituacao }}</span>
    </div>

    <div class="linha">
      <span class="label">Infusão</span>
      <b class="valor">{{ infusaoFormatada }}</b>
    </div>
  </div>

  <!-- Rodapé -->
  <footer class="rodape">
    <span [class]="classeAlerta" aria-live="polite">{{ textoAlerta }}</span>
  </footer>
</article>
