.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  svg { width: 48px; height: 48px; }
  .texto { font-weight: 700; letter-spacing: .2px; }
}
.logo.grande {
  svg { width: 96px; height: 96px; }
  .texto { font-size: 22px; }
}
